/* TABLE BTN START */
.tableActionBtn {
  background-color: #1e6dc6;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #1e6dc6;
  color: #fff;
  line-height: 0;
  margin-right: 5px;
}

.tableActionBtn:hover svg {
  color: #1e6dc6;
}

.tableActionBtn:hover {
  background-color: #fff;
  border: 1px solid #1e6dc6;
  color: #fff;
  transition: 0.3s;
}

.tableActionBtn i {
  font-size: 20px;
}

.tableActionBtn:hover i {
  color: #1e6dc6;
}

/* TABLE BTN EXIT */

.customButton,
.customButton:focus,
.customButton:active {
  width: 100%;
  text-transform: capitalize;
  border: 1px solid #1e6dc6;
  font-weight: 500;
  font-size: 20px;
  background: #1e6dc6;
  border-radius: 10px;
  color: #fff;
  height: 50px;
}

.customButton:hover {
  border: 1px solid #1e6dc6;
  color: #1e6dc6;
  transition: 0.3s;
  background: transparent;
}

.miniBtnBlue {
  text-transform: capitalize;
  border: 1px solid #1e6dc6;
  font-weight: 400;
  font-size: 14px;
  background: transparent;
  border-radius: 5px;
  color: #1e6dc6;
  padding: 5px 10px;
}

.miniBtnBlue:hover {
  background-color: #1e6dc6; /* blue-500 on hover */
  color: white;
}

.topContentButton,
.topContentButton:focus,
.topContentButton:active {
  padding: 0 15px;
  text-transform: capitalize;
  border: 1px solid #1e6dc6;
  font-weight: 500;
  font-size: 16px;
  background: #1e6dc6;
  border-radius: 5px;
  color: #fff;
  height: 45px;
}

.topContentButton:hover {
  border: 1px solid #1e6dc6;
  color: #1e6dc6;
  transition: 0.3s;
  background: transparent;
}

.customRedButton,
.customRedButton:focus,
.customRedButton:active {
  min-width: 150px;
  text-transform: capitalize;
  border: 1px solid #de2d38;
  font-weight: 500;
  font-size: 20px;
  background: #de2d38;
  border-radius: 10px;
  color: #fff;
  height: 50px;
}

.customRedButton:hover {
  border: 1px solid #de2d38;
  color: #de2d38;
  transition: 0.3s;
  background: transparent;
}

.activeInactiveUser .customButton {
  font-size: 16px !important;
  width: auto !important;
  min-width: 150px !important;
  height: 45px !important;
}

.pen-icon {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background: #1e6dc6;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 4px solid #deeeff;
  color: #fff;
}

.pen-icon:hover {
  border: 1px solid #1e6dc6;
  color: #fff;
  transition: 0.3s;
  background: transparent;
}
