/* HTML CUSTOM DATE PICKER START */

.htmlCustomDatePicker .labelDate {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 0px;
  text-transform: capitalize;
}

.htmlCustomDatePicker .HTML_CustomInput {
  padding: 14px;
  border: 1px solid #e7e6e6;
  border-radius: 8px;
  box-shadow: none;
  outline: none;
  height: 50px;
  width: 100%;
  font-weight: 600;
  color: #deeeff;
}

.htmlCustomDatePicker .customDate_Icon {
  position: absolute;
  right: 15px;
  top: 12px;
}

.htmlCustomDatePicker input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  background-color: red;
  position: absolute;
  width: 100%;
  left: 0;
  height: 60px;
  border-radius: 10px;
  z-index: 999;
}

.htmlCustomDatePicker .customDate_Icon i {
  font-size: 25px;
  color: #000;
}

/* HTML CUSTOM DATE PICKER EXIT */