/* MODAL START */
.customModal {
  z-index: 99999999 !important;
}

.pac-logo {
  z-index: 99999999 !important;
}

.mainModalDiv {
  z-index: 99999;
}

.customModal .modal-header .H2Heading {
  font-weight: 500;
}

.customModal .modal-header {
  border: none;
  padding-bottom: 0;
}

.customModal .modal-body {
  padding-top: 30px;
}

.customModal .modal-content {
  border: 1px solid #646464 !important;
  background: #eff7ff !important;
  /* height: 530px; */
  overflow-y: scroll;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  scrollbar-width: none;
}

/* CLOSE MODAL */
.addDataModal .hideClose_Modal {
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
  /* background-color: #000; */
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
}

/* MODAL FOOTER */
.customModal .modalFooter {
  display: flex;
  justify-content: flex-end;
}

.customModal .modalFooter button.customButton {
  min-width: 150px;
  width: auto;
  margin-left: 15px;
}

/* ================== MODAL EXIT ======================= */