.scrollableTable {
  background-color: #eff7ff;
  padding: 15px;
  border-radius: 10px;
  height: auto;
  /* max-height: 610px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border: 1px solid #4d4d4d; */
}

.tableInputFilter {
  margin-bottom: 15px;
  width: 400px;
  margin-left: auto;
}

.tableFilter {
  overflow: hidden !important;
  margin-bottom: 15px;
  margin-left: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  /* height: 65px; */
  /* vertical-align: middle; */
  /* width: 180px; */
  /* width: 145px; */
  color: #000
}

.verticleAlignTop td {
  /* vertical-align: text-top; */
  padding-top: 15px;
  padding-bottom: 15px;
}

.tableFlexBtnAction {
  display: flex;
  align-items: center;
}

table th {
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  font-size: 12px;
  /* height: 56px; */
  vertical-align: middle;
  text-transform: capitalize;
  color: #000;
}

.tableDollerIcon i {
  color: #000;
}

.scrollableTable.is-scrollableTable:after {
  position: absolute;
  top: 0;
  left: 100%;
  width: 50px;
  height: 100%;
  border-radius: 10px 0 0 10px/50% 0 0 50%;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
  content: "";
}

.scrollableTable > div {
  overflow-x: auto;
}

.scrollableTable > div ::-webkit-scrollbar {
  height: 12px;
}

.scrollableTable > div ::-webkit-scrollbar-track {
  background: #f0f0f0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) inset;
}

.scrollableTable > div ::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}

.downloadIcon i {
  font-size: 20px;
  cursor: pointer;
}

.userDetails p {
  margin-bottom: 5px;
}

/* TABLE PAGINATION */
.tablePagination {
  margin-top: 10px;
  float: inline-end;
}

.tablePagination .page-link {
  min-width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
  margin-left: 10px !important;
  color: #000;
}

.tablePagination .page-link:focus,
.tablePagination .page-link:hover {
  color: #1e6dc6 ;
  background-color: #1e6dc6 !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.tablePagination .active > .page-link,
.tablePagination .page-link.active {
  background-color: #1e6dc6 !important;
  border-color: #1e6dc6 !important;
}

/* TABLE BODY CUSTOM SCROLLBAR */
tbody {
  /* display: block; */
  /* max-height: 1000px; */
  overflow-y: auto;
}

tbody tr {
  /* display: table; */
  /* width: 100%; */
  border-bottom: 1px solid #4d4d4d;
}

tbody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

tbody::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f5;
}

tbody::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}
.img_table {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.daterangepicker table th,
.daterangepicker table td {
  color: inherit;
}
.daterangepicker .drp-calendar {
  max-width: fit-content !important;
}
